@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Poppins as the default font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Global smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1F2937;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22D3EE;
}

body {
  background-color: #1F2937;
  color: white;
  font-family: 'Poppins', sans-serif;
}
